* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100%;
    background-color:#007bff;
    font-size: 85%;
    font-weight: 400;
}

a {
    font-weight: bold;
}
a:hover {
    text-decoration: none;
}
li:hover{
    background-color: #343a40!important;
    color : white;
}
.f-white {
    color : white !important;
}
.hide {
    display: none;
}
.notif{
	position:fixed;
	width:30px;
	height:30px;
	bottom:40px;
	right:40px;
	background-color:red;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.active {
    background-color: #343a40!important;
    color : white;
}
.m-0 {
    margin: 0px !important;
}

#dmodul {
    max-height: 400px;
    overflow-y: scroll;
}

.p-0 {
    padding: 0px !important;
}

#mycontent {
    display: flex;
}

.nav-container {
    background-color: white;
    height: 120px;
    border-bottom: 1px solid #000000;
}

.logo {
    position: absolute;
    height: 35px;
    left: 39px;
    top: 44px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.auth-session {
    position: absolute;
    height: 18px;
    left: 369px;
    top: 58px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    color: #000000;
}

.author-session {
    font-weight: bold;
    color: white;
}

.time {
    position: absolute;
    height: 18px;
    right: 10%;
    top: 58px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    color: #000000;

}

.sidebar {
    position: absolute;
    height: 100%;
    width: 326px;
    top: 124px;
    border-right: 1px solid #000000;
    background-color: white;
}

.co-masuk {
    position: absolute;
    height: 18px;
    left: 27px;
    top: 38px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.icon-green {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 292px;
    top: 39px;
    background: #14F70F;
}

.co-proses {
    position: absolute;
    height: 18px;
    left: 27px;
    top: 70px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    color: #000000;
}

.icon-yellow {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 292px;
    top: 71px;
    background: #FFD914;
}

.co-selesai {
    position: absolute;
    height: 18px;
    left: 27px;
    top: 102px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    color: #000000;
}

.icon-blue {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 292px;
    top: 103px;
    background: #067396;
}

.line-satu {
    position: absolute;
    top: 180px;
    width: 100%;
    border: 1px solid #000000;
}

.all-co {
    position: absolute;
    height: 18px;
    left: 27px;
    top: 218px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.statistik-co {
    position: absolute;
    height: 18px;
    left: 27px;
    top: 256px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.line-dua {
    position: absolute;
    top: 294px;
    width: 100%;
    border: 1px solid #000000;
}

.edit-profile {
    position: absolute;
    height: 18px;
    left: 27px;
    top: 332px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.ubah-password {
    position: absolute;
    height: 18px;
    left: 27px;
    top: 370px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.content {
    position: absolute;
    left: 332px;
}

.header {
    position: absolute;
    width: 159px;
    height: 18px;
    top: 38px;
    left: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    color: #000000;
}

.data {
    position: relative;
    top: 70px;
    left: 10px;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    color: #000000;
}

.title-td {
    width : 170px !important;
    font-weight: bold;
}